# FastAPI 및 웹서버 관련
fastapi
python-dotenv
uvicorn
gunicorn

# STT (음성 인식) 및 NLP 관련
openai-whisper
transformers[sentencepiece]  # sentencepiece를 포함하여 설치
torch
openai

# 오디오 처리 관련
soundfile
pydub
numpy

# 기타 유틸리티
pycountry